/**
 * Дополнительные стили для проекта
*/
.logo {
    width: 100px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(207deg) brightness(102%) contrast(102%) drop-shadow(0px 0px 0px rgb(255, 255, 255));
}

td.with-border {
    border: 2px solid green;
}
